html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
    --gap:30px;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'), url('../fonts/OpenSansRegular.woff2') format("woff2"),
    url('../fonts/OpenSansRegular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light'), url('../fonts/OpenSansLight.woff2') format("woff2"),
    url('../fonts/OpenSansLight.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: local('OpenSans-Bold'), url('../fonts/OpenSansBold.woff2') format("woff2"),
    url('../fonts/OpenSansBold.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
body {
    min-width: 320px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}

/*glob*/
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.flex {
    display: flex;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section-tittle {
    margin: 0;
    margin-bottom: 40px;
}
.section-dtscr {
    margin: 0;
    margin-bottom: 50px;
}
.section-offset {
    padding-top: 87px;
    padding-bottom: 160px;
}
.title-reset {
    margin: 0;
    padding: 0;
}

/*header*/
.header {
    padding: 36px 0px;
    border: 1px solid #c4c4c4;
    background-color: white;
}
.nav__link {
    position: relative;
    font-weight: 600;
    color: #1C1C1C;
    font-size: 15px;
    line-height: 20.43px;
    transition: color 0.3s ease-in-out;
}
.nav__link:focus {
    outline: 1px solid #71A7E2;
    outline-offset: 2px;
}
.nav__link:hover {
    color: #71A7E2;
}
.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid #3474BA;
    outline: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.nav__link:active::after {
    opacity: 1;
}
.nav__link:active {
    outline: none;
}
.btn {
    position: relative;
    outline: none;
    padding: 15px 35px;
    background-color: #3172B9;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
}
.btn::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius:inherit;
    border: 1px solid #71A7E2;
    outline: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.btn:active::after {
    opacity: 1;
}
.btn:hover {
    background-color: #71A7E2;
}
.btn:active {
    background-color:#0E3B6C;
}

.header__contaner {
    align-items: center;
}
.header__logo {
    margin-right: auto;
}
.header__nav {
    margin-right: 52px;
}
.nav__item {
    margin-right: 52px;
}
.nav__item:not(:last-child) {
    margin-right: 52px;
}
.home {
    padding: 100px 0 150px;
    background-image: url('../img/head.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home-content {
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
}
.home-title {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px; 
    color: #1C1C1C;
}
.home-desc {
    margin: 0;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24.8px;
    color: #787878;    ;
}
.home-btn {
    margin-bottom: 14px;
    padding: 19px 58px;
}
.home-secure {
    padding-left: 20px;
    background-image: url('../img/secure.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 14px 17px;
    font-size: 11px;
    line-height: 17.05px;
    text-transform: uppercase;
    color: #787878;
}
.div-secure {
    flex-direction: column;
    align-items: center;
}
/*services*/
.services {
    border-bottom: 1px solid #E4E4E4;
}
.services-title {
    text-align: center;
    margin: 0;
    margin-bottom: 21px;
    width: 300;
    font-size: 36px;
    line-height: 46.8px;
    color: #1C1C1C;   
}
.section-descr {
    text-align: center;
    margin: 0;
    margin-bottom: 54px; 
    font-size: 16px;
    line-height: 21.79px;
    color: #787878;
}
.services-item {
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    width: calc((100% - (var(--gap) * 3)) / 4);
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    transition: border-color 0.1s ease-in-out, background-color 0.3s ease-in-out;
}
.services-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.services-item:hover {
    border-color: #3172B9;
    background-color: #3172B9;
}
.services-item-icon {
    margin-bottom: 25px;
    fill: #3172B9;
}
.services-item:hover .services-item-icon {
    fill: white;
}
.services-item-title {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    color: #1C1C1C;
    font-size: 20px;
    line-height: 26px;
}
.services-item:hover .services-item-title {
    color: white;
}
.services-item-desk {
    margin: 0;
    text-align: center;
    color: #787878;
    font-size: 14px;
    line-height: 21px;
}
.services-item:hover .services-item-desk {
    color: white;
}

/*articles*/
.articles {
    border-bottom: 1px solid #E4E4E4;
}
.block-preview {
    width: 100%;
    overflow: hidden;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}
.block-preview-link {
    position: relative;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}
.block-preview-link:hover {
    background-color: #3172B9;
}
.block-preview-link:focus {
    background-color: #71A7E2;
}
.block-preview-link:active {
    background-color: #0E3B6C;
}
.articles-title {
    margin: 0;
    margin-bottom: 40px;
    Font-size: 36px;
    line-height: 47px;
    font-weight: 300;
    color: #1C1C1C;
}
.article-list {
    flex-wrap: wrap;
}
.articles-item {
    width: calc((100% - (var(--gap))) / 2);
    margin-bottom: 30px;
}
.articles-item:not(:nth-child(2n)) {
    margin-right: 30px;
}
.block-preview-image {
    object-fit: cover;
    width: 30%;
}
.block-preview-text {
    padding: 23px 30px;
}
.block-preview-time {
    display: block;
    margin-bottom: 5px;
    Font-size: 10px;
    Line-height: 15px;
    color: #787878;
}
.block-preview-link:hover .block-preview-time{
    color: white;
    transition: color 0.3s ease-in-out;
}
.block-preview-title {
    margin: 0;
    margin-bottom: 15px;
    color: #1C1C1C;
    font-size: 20px;
    Line-height: 26px;
}
.block-preview-link:hover .block-preview-title {
    color: white;
    transition: color 0.4s ease-in-out;
}
.block-preview-descr {
    max-width: 210px;
    margin: 0;
    color: #787878;
    font-size: 14px;
    line-height: 21px;
}
.block-preview-link:hover .block-preview-descr {
    color: white;
    transition: color 0.4s ease-in-out;
}

/*client*/
.clients {
    border-bottom: 1px solid #E4E4E4;
}
.clients-title {
    margin: 0;
    margin-bottom: 42px;
    color: #1C1C1C;
    Font-size: 36px;
    Line-height: 47px;
}
.client-ite {
    flex-direction: column;
    width: calc((100% - (var(--gap) * 2)) / 3);
    min-height: 362px;
    padding-right: 53px;
    padding-top: 50px;
    padding-left: 36px;
    padding-bottom: 32px;
    border: 1px solid #DADADA; 
    border-radius: 5px;
}
.client-ite:not(:nth-child(3n)) {
    margin-right: 30px;
}
.client-list {
    justify-content: space-between;
}
.clients-item-descr {
    margin: 0;
    padding: 0;
    color: #787878;
    Font-size: 14px;
    Line-height: 25px;
    min-height: 150px;
    padding-bottom: 33px;
    border-bottom: 1px solid #DADADA;
}
.clients-text {
    color: #1C1C1C;
    Font-size: 17px;
    Line-height: 25px;
    font-weight: 600;
}
.clients-post {
    color: #787878;
    Font-size: 14px;
    Line-height: 20px;
}
.clients-user {
    margin-top: 28px;
    align-items: center;
}
.clients-avatar {
    flex-shrink: 0;
    margin-right: 17px;
    width: 67px;
    border-radius: 45%;
}
.clients-avatar img {
    width: 100%;
    height: 100%;
    border: 2px solid #3172B9;
    border-radius: 100%;
}
.client-name {
    margin-bottom: 5px;
}

/*contacts*/
.contacts {
    border-bottom: 1px solid #E4E4E4;  
}
.contacts-title {
    margin-bottom: 110px;
    color: #1C1C1C;
    font-weight: 300;
    Font-size: 36px;
    Line-height: 47px;
}
.adress {
    background-image: url('../img/address.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 17px 23px;
    padding-top: 40px;
}
.telefone {
    background-image: url('../img/telephone.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 21px 21px;
    padding-top: 40px;
}
.email {
    background-image: url('../img/email.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px 20px;
    padding-top: 40px;
}
.contacts-address {
    font-style: normal;
}
.contacts-item {
    flex-direction: column;
    width: calc((100% - (var(--gap) * 2)) / 3);
}
.contacts-item:not(:nth-child(3n)) {
    margin-right: (var(--gap));
}
.contacts-item-caption {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 17px;
    Line-height: 31px;
    color: #1C1C1C;
}
.contacts-box {
    max-width: 160px;
}
.contacts-item-text {
    margin: 0;
    max-width: 214px;
    color: #787878;
    Font-size: 14px;
    Line-height: 25px;
}
.contacts-item-link{
    max-width: 157px;
    color: #787878;
    Font-size: 14px;
    Line-height: 25px;
    border: 0;
}
.contacts-item-link:not(:last-child) {
    margin-bottom: 5px;
}
.contacts-item-link:hover {
    color: #71A7E2;
    transition: color 0.3s ease-in-out;
}
.contacts-item-link:focus {
    content: "";
    left: 0;
    border: 1px solid #71A7E2;
    outline: 0;
    transition: color 0.1s ease-in-out;
}
.contacts-item-link:active {
    color: #0E3B6C;
    border: 0;
    outline: 0;
    transition: color 0.1s ease-in-out;
}

/*join-us*/
.form {
    padding-left: 55px;
    padding-right: 55px;
}
.join-us-tittle {
    font-weight: 300;
    Font-size: 36px;
    Line-height: 47px;
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
    color: #1C1C1C;
    text-align: center;
}
.join-us {
    padding-top: 87px;
    padding-bottom: 122px;
    border-bottom: 1px solid #E4E4E4;
}
.join-descr {
    text-align: center;
    color: #787878;
    Font-size: 16px;
    Line-height: 22px;
    margin-bottom: 30px;
}
.form-top {
    justify-content: space-between;
}
.form-left {
    width: 49%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-right {
    width: 49%;
    min-height: 100%;
    margin-bottom: 20px;
}
.form-inp {
    box-sizing: border-box;
    padding: 16px 30px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    width: 250px;
    height: 60px;
    margin-bottom: 20px;
}
.form-inp:focus {
    outline: none;
    border-color: #71A7E2;
    background-color: rgba(113, 167, 226, 0.2);
    transition: background-color 0.3s ease-in-out;
}
.form-inp:active {
    border-color: #0E3B6C;
    transition: border-color 0.1s ease-in-out;
}
.form-inp:hover {
    border-color: #71A7E2;
    transition: border-color 0.1s ease-in-out;
}
.select-form {
    box-sizing: border-box;
    border-color: #0E3B6C;
}
.text-form {
    box-sizing: border-box;
    padding: 16px 30px;
    border: 1px solid #DADADA;
    border-radius: 20px;
    width: 100%;
    min-height: 100%;
    resize: none;
    margin-bottom: 20px;
}
.text-form:focus {
    outline: none;
    border-color: #71A7E2;
    background-color: rgba(113, 167, 226, 0.2);
    transition: border-color 0.1s ease-in-out, background-color 0.3s ease-in-out;
}
.text-form:active {
    border-color: #0E3B6C;
    transition: border-color 0.1s ease-in-out;
}
.text-form:hover {
    border-color: #71A7E2;
    transition: border-color 0.1s ease-in-out;
}
.form-bottom {
    flex-direction: column;
    align-items: flex-end;
}
.form-btn {
    background-color: #3172B9;
    color: white;
    border: 0px;
    padding: 20px 67px;
    border-radius: 50px;
    margin-bottom: 9px;
}
.chek {
    color: #787878;
}
.chek_scal {
    border-bottom: 1px solid #3172B9;
    color: #3172B9;
}

/*footer*/
.footer {
    padding: 42px 0;
    align-items: center;
} 
.footer__container{
    justify-content: space-between;
}
.footer__right {
align-items: center;
}
.footer__left {
    align-items: center;
}
.footer__logo {
    margin-right: 25px;
}
.footer__nav {
    margin-right: 56px;
}
.footer__nav .nav__item:not(:last-child) {
    margin-right: 28px;
}
.footer-copy {
    color: #787878;
    Font-size: 12px;
    Line-height: 16px;
}
.footer__nav .nav__link {
    color: #787878;
    Font-size: 15px;
    Line-height: 20px;
}
.social-item:not(:last-child) {
    margin-right: 30px;
}
.social-link svg {
    fill: black;
}
.social-link-mail svg {
    fill: transparent;
    stroke: black;
}
.social-link:focus {
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
    transition: outline 0.1s ease-in-out;
}
.social-link:hover svg{
    fill: #71A7E2;
    transition: fill 0.3s ease-in-out;
}
.social-link-mail:hover svg {
    fill: transparent;
    stroke: #71A7E2;
    transition: stroke 0.3s ease-in-out;
}
.social-link:active svg{
    fill: #3172B9;
    transition: fill 0.3s ease-in-out;
}
.social-link-mail:active svg {
    fill: transparent;
    stroke: #3172B9;
    transition: stroke 0.3s ease-in-out;
}
.burger {
    display: none;
}
.articles-centre {
    text-align: center;
    display: none;
}